In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [2]:
df=pd.read_csv("./data/selected_data_ISONE.csv")
df

              date  year  month  day  weekday  hour   demand  temperature
0         2003/3/1  2003      3    1        7     1  12863.0           23
1         2003/3/1  2003      3    1        7     2  12389.0           22
2         2003/3/1  2003      3    1        7     3  12155.0           21
3         2003/3/1  2003      3    1        7     4  12072.0           21
4         2003/3/1  2003      3    1        7     5  12160.0           22
5         2003/3/1  2003      3    1        7     6  12568.0           21
6         2003/3/1  2003      3    1        7     7  13236.0           22
7         2003/3/1  2003      3    1        7     8  14190.0           22
8         2003/3/1  2003      3    1        7     9  15213.0           24
9         2003/3/1  2003      3    1        7    10  15647.0           27
10        2003/3/1  2003      3    1        7    11  15653.0           30
11        2003/3/1  2003      3    1        7    12  15416.0           33
12        2003/3/1  2003      3    1        7    13  14994.0           35
13        2003/3/1  2003      3    1        7    14  14581.0           37
14        2003/3/1  2003      3    1        7    15  14335.0           37
15        2003/3/1  2003      3    1        7    16  14269.0           38
16        2003/3/1  2003      3    1        7    17  14685.0           37
17        2003/3/1  2003      3    1        7    18  15680.0           36
18        2003/3/1  2003      3    1        7    19  16386.0           35
19        2003/3/1  2003      3    1        7    20  16020.0           35
20        2003/3/1  2003      3    1        7    21  15476.0           34
21        2003/3/1  2003      3    1        7    22  14753.0           34
22        2003/3/1  2003      3    1        7    23  13757.0           33
23        2003/3/1  2003      3    1        7    24  12707.0           33
24        2003/3/2  2003      3    2        1     1  11861.0           32
25        2003/3/2  2003      3    2        1     2  11373.0           32
26        2003/3/2  2003      3    2        1     3  11085.0           32
27        2003/3/2  2003      3    2        1     4  10905.0           32
28        2003/3/2  2003      3    2        1     5  10930.0           32
29        2003/3/2  2003      3    2        1     6  11167.0           33
...            ...   ...    ...  ...      ...   ...      ...          ...
103746  2014/12/30  2014     12   30        3    19  18320.0           24
103747  2014/12/30  2014     12   30        3    20  17912.0           23
103748  2014/12/30  2014     12   30        3    21  17376.0           21
103749  2014/12/30  2014     12   30        3    22  16458.0           20
103750  2014/12/30  2014     12   30        3    23  15188.0           18
103751  2014/12/30  2014     12   30        3    24  13992.0           17
103752  2014/12/31  2014     12   31        4     1  13152.0           17
103753  2014/12/31  2014     12   31        4     2  12666.0           16
103754  2014/12/31  2014     12   31        4     3  12446.0           16
103755  2014/12/31  2014     12   31        4     4  12438.0           17
103756  2014/12/31  2014     12   31        4     5  12728.0           17
103757  2014/12/31  2014     12   31        4     6  13567.0           17
103758  2014/12/31  2014     12   31        4     7  14850.0           17
103759  2014/12/31  2014     12   31        4     8  15829.0           17
103760  2014/12/31  2014     12   31        4     9  16430.0           18
103761  2014/12/31  2014     12   31        4    10  16614.0           21
103762  2014/12/31  2014     12   31        4    11  16602.0           24
103763  2014/12/31  2014     12   31        4    12  16445.0           26
103764  2014/12/31  2014     12   31        4    13  16240.0           28
103765  2014/12/31  2014     12   31        4    14  16052.0           28
103766  2014/12/31  2014     12   31        4    15  15919.0           28
103767  2014/12/31  2014     12   31        4    16  16014.0           28
103768  2014/12/31  2014     12   31        4    17  17075.0           27
103769  2014/12/31  2014     12   31        4    18  18123.0           25
103770  2014/12/31  2014     12   31        4    19  17708.0           23
103771  2014/12/31  2014     12   31        4    20  16955.0           22
103772  2014/12/31  2014     12   31        4    21  16243.0           21
103773  2014/12/31  2014     12   31        4    22  15525.0           21
103774  2014/12/31  2014     12   31        4    23  14759.0           18
103775  2014/12/31  2014     12   31        4    24  14071.0           19

[103776 rows x 8 columns]

In [3]:
len(df)

103776

In [4]:
def preprocess(df):
    df.dropna(axis=1,inplace=True)
    y=list()
    for i in range(len(df)):
        y.append(df.loc[i,'demand'])
    
    y=np.array(y)
    
    x=list()
    for i in range(len(df)):
        x.append(df.loc[i,'day'])
        x.append(df.loc[i,'month'])
        x.append(df.loc[i,'year'])
        x.append(df.loc[i,'weekday'])
        x.append(df.loc[i,'hour'])
        x.append(df.loc[i,'temperature'])
    
    x=np.array(x)
    x=x.reshape(-1,6)
    return x,y

In [5]:
x,y=preprocess(df)
print(x.shape,y.shape)

(103776, 6) (103776,)

In [6]:
import pickle
def save_data(x,y,s1,s2):
    pic_out=open("./data/"+s1+".pickle","wb")
    pickle.dump(x,pic_out)
    pic_out.close()

    pic_out=open("./data/"+s2+".pickle","wb")
    pickle.dump(y,pic_out)
    pic_out.close()

In [7]:
save_data(x,y,'x','y')

In [8]:
def train_test_split(x,y,time_step=1):
    x=np.hstack((x[1:],y[:-1].reshape(-1,1))) #adding previous_hour_load as a new feature
    
    #scaling between 0 to 1
    x=MinMaxScaler(feature_range=(0,1)).fit_transform(x)
    
    #adding time step
    from collections import deque
    prev=deque(maxlen=time_step)
    for i in range(time_step-1):
        prev.append(list(x[i]))

    xx=list()
    for i in range(time_step-1,len(x)):
        prev.append(list(x[i]))
        xx.append(list(prev))
        
    #corresponding output data
    y=y[time_step:]
    
    xx=np.array(xx)
    #scaling the output (demand of current hour)
    scale=MinMaxScaler(feature_range=(0,1))
    y=scale.fit_transform(y.reshape(-1,1))
    #minmaxscaler formula=(x-xmin)/(xmax-xmin)
    
    #input shape (sample,time step, feature)
    #splitting in train and test set.93% as train and 7% as test data
    train_test_split=int(len(xx)*0.93)
    x_test=xx[train_test_split:]
    x_train=xx[:train_test_split]
    y_test=y[train_test_split:]
    y_train=y[:train_test_split]
    return x_train,y_train,x_test,y_test

In [9]:
x_train,y_train,x_test,y_test=train_test_split(x,y,time_step=30)

In [10]:
print(x_train.shape,y_train.shape,x_test.shape,y_test.shape)

(96483, 30, 7) (96483, 1) (7263, 30, 7) (7263, 1)

In [11]:
save_data(x_train,y_train,'x_train','y_train')

In [12]:
save_data(x_test,y_test,'x_test','y_test')